.modal_container{
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_form{
    padding: 2rem;
    border-radius: 10px;
    background-color: grey;
}

.modal_form > .modal_close_button{
    text-align: right;
}

.modal_form > .modal_close_button > button{
    /* border: 1px solid red; */
    background-color: black;
}

.modal_form > .modal_close_button > button:hover {
    background-color: rgb(224, 0, 0) !important;
}